<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="ServiceBaseAddress" value="http://localhost:8733/CruiseManagementService/" />
	</appSettings>

	<log4net>
		<!-- Console appender -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss} [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- File appender -->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/client.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss} [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Separate error log -->
		<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/errors.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss} [%thread] %-5level %logger - %message%newline%exception" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

		<!-- Root logger -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ErrorFileAppender" />
		</root>

		<!-- Specific loggers -->
		<logger name="Client">
			<level value="DEBUG" />
		</logger>
		<logger name="Server">
			<level value="DEBUG" />
		</logger>
		<logger name="Shared.Services">
			<level value="DEBUG" />
		</logger>
	</log4net>
</configuration>